.content{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 2rem;
}

.topPic{
    width: 33%;
    border-radius: 50%;
}

.title{
    margin: 1rem;
    color: #e7e7e7;
}
.subtitle{
    margin: 0 1rem 1rem 1rem;
    text-align: center;
    font-size: 1rem;
    color: rgba(80, 80, 80, 0.6);
}
/*XSmall devices (phones, 476px and up)*/
@media (min-width: 476px) {
    .topPic{
        width: 25%;
    }
    .subtitle{
        font-size: 1.2rem;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .content{
        margin: 3rem 6rem;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .content{
        margin: 3rem 25%;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .content{
        margin: 3rem 33%;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}